<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Бригада програмістів</title>
</head>
<body>
<h1>наша бригада</h1>
<p>Ми працюємо над лабораторними роботами.</p>
<a href="/about">Дізнатись більше про нашу бригаду</a>
</body>
</html>
